

 General CSS
body {
    margin: 0;
    padding: 0;
}


/* Title and created by*/
#title {
    font-size: 4rem;
    text-align: center;
}

#created-by {
    text-align: center;
}

#title-container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Character cards */
#character-container {
    display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.character-card {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgba(110, 110, 110, 0.359);
    height: 470px;
    width: 300px;
    overflow: hidden;
}

.character-img {
    width: auto;
    max-width: 300px;
    height: 12rem;
    padding-top: 10px;
    border-radius: 20px;
}

/* Battle Area */ 
#battle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

#player1-container, #player2-container {
    max-width: 500px;
    max-height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

#player1-container img, #player2-container img {
    width: auto;
    max-width: 600px;
    height: 30rem;
    padding-top: 10px;
    border-radius: 20px;
}

#player1-container {
    border: 10px solid blue;
}

#player2-container {
    border: 10px solid red;
}

#start-fight-button {
    font-size: 4rem;
    padding: 5px;
    border-radius: 20px;
}

/* Edit and add characters */ 
#edit-add-characters {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin:  0 auto;
}

.edit-add-character-containers {
    border-radius: 15px;
    width: 300px;display: flex;
    justify-content: space-around;
    border: 3px solid black;

} 